{% extends "base.html" %}
{% block content %}

<div class="login-wrapper">
  <div class="login-card">
    <h2>Welcome to Collegia</h2>
    <p>Log in to manage your advising and meetings</p>

    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.email(class="login-input", placeholder="Email") }}
      {{ form.password(class="login-input", placeholder="Password") }}
      <button type="submit" class="login-btn">Login</button>
    </form>

    <div style="margin-top: 24px; text-align: center;">
        <a href="{{ url_for('google.login') }}">
            <img src="https://developers.google.com/identity/images/g-logo.png" width="42">
        </a>
    </div>

    <div class="login-footer">
      <span>New here?</span>
      <a href="{{ url_for('routes.register') }}">Create an account</a>
    </div>
  </div>
</div>

{% endblock %}
