{% extends "base.html" %}

{% block content %}

<div class="login-wrapper">
    <div class="login-card">
        <h2>Create your account</h2>
        <p>Join Collegia to manage advising and meetings</p>

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name(class="login-input", placeholder="Full Name") }}
            {{ form.email(class="login-input", placeholder="Email") }}
            {{ form.password(class="login-input", placeholder="Password") }}
            {{ form.role(class="login-input") }}
            
            <button class="login-btn" type="submit">Create Account</button>
        </form>

        <div class="login-footer">
            Already have an account?
            <a href="{{ url_for('routes.login') }}">Login</a>
        </div>
    </div>
</div>

{% endblock %}